body {
    max-width: 1219px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 55px;
    padding-right: 55px;
    background-color: #EEEEEE;
    color: #000000 ;
    font-family: Roboto, sans-serif;
    font-style: normal;
}


/* цвет основного текста
#000000 */

/* вторичный #007765; #FFFFFF */

/* акцент (цвет фона) 
#EEEEEE; #333333 */

/* Header */

.section-header {
    position: sticky;
    top: 0;
    left: 0; 
    width: 100%; 
    z-index: 999; 
    background-color: #007765;
}
.logo {
    float: left;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    line-height: 45px;
}
  
.container-header:after {
  
    content: "";
    display: table;
    clear: both;   
}

.container-header {
    width: 100%;
    max-width: 1024px;
    padding: 15px;
    margin: 0 auto;
}
.link {
font-weight: 500;
font-size: 24px;
line-height: 1.2;
text-align: center;
color: #FFFFFF;
}
.line {
padding: 10px;
font-weight: 500;
font-size: 24px;
line-height: 1.2;
text-align: center;
color: #FFFFFF;
}
/* Jumbotron */
.container {
    box-sizing: border-box;
    max-width: 1219px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 55px;
    padding-right: 55px;
  }
.jumbotron {
    padding-top: 128px;
    padding-bottom: 128px;
    background-image: url('../css/jumbotron.jpg');
    background-size: cover;
    background-position: center center;     
}
.jumbotron-title {
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 1.16;
    text-align: center;    
    color:#FFFFFF;
}
/* Section */
.section-title {
    padding-top: 48px;
    padding-bottom: 16px;
    font-weight: 500;
    font-size: 64px;
    line-height: 1.17;
    text-align: center;    
    color: #007765;
}

/* The Problem */
.container-1 {
    box-sizing:border-box;
    max-width: 1219px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 55px;
    padding-right: 55px;
 }
 
.problem {
padding-top: 48px;  
padding-bottom: 92px;  
background-color: #EEEEEE;
 }

.problem-text {
    padding-left: 55px;
    padding-right: 54px;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.18;  
    color: #000000;
}
.definition {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.18;
    color: #000000;    
}

/* Hero */ 
  .hero {
    padding-top: 128px;
    padding-bottom: 128px;
    background-image: url('../css/hero.jpg');
    background-size: cover;
    background-position: center center;
  }
  
  .hero-message {
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 1.16;
    text-align: center;
    color: #fff;
  }

  /* PiedPiperCoin */
  .container-4 {
    box-sizing:border-box;
    max-width: 1219px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 55px;
    padding-right: 55px;
  }

  .piedpipercoin {
    padding-top: 48px;
    padding-bottom: 92px;
    background-color: #fff;
  }

  .piedpipercoin-text {
    font-weight: 400;
    font-size: 32px;
    line-height: 1.18;
     color: #000000;    
  }
   
 .ppclogo {
    padding-right: 48px;
    float: left;
 }

 /* Team */
 .team {
    padding-top: 48px;
    padding-bottom: 94px;
    background-color: #eee;
 }
 .container-5 {
    width: 1200px;
    margin: 0 auto;
 }

 .members {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
 }

 .member {
    text-align: center;
    flex-basis: 33%;
    padding: 24px;
    box-sizing: border-box;
    margin-bottom: 30px;
  }

  .member-name {
    margin: 0;
    margin-top: 12px;
    font-weight: 600;
    font-size: 24px;
    color: #007765;
  }

  .member-role {
    font-style: italic;
    font-size: 18px;
  }

  /* Footer */
  .container-6 {
    box-sizing: border-box;
    max-width: 1219px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 55px;
    padding-right: 55px;    
  }

  .page-footer {
    padding-top: 48px;
    padding-bottom: 64px;
    background-color: #333333;
  }

.footer-text {
    padding-left: 340px;
    padding-right: 340px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;   
    color: #FFFFFF;    
}